.container
	.row
		.col-sm-12.text-left
			i {{formData.createdBy}}
			| &nbsp;create at&nbsp;
			i {{formData.createdAt | date: 'H:mm:ss MM/dd/yyyy'}}
	.row(ng-if="!!formData.tags && formData.tags.length > 0")
		.col-sm-12.text-left
			i.right-margin-4 tags:
			span(ng-repeat="tag in formData.tags")
				b {{!$first ? '/' + tag.name : tag.name}}
	.row
		.col-sm-12.text-left
			h3 {{formData.name}}
	.row
		.col-sm-12.text-justify
			p {{formData.description}}
	div.row(ng-repeat="option in formData.formOptions")
		.col-sm-12.text-justify
			div(class="{{formData.type}}")
				label {{option.text}}
					span(ng-switch="formData.type")
						input(
							ng-switch-when="checkbox",
							type='checkbox',
							name="formVotes",
							ng-model="option.checked")
						input(
							ng-disabled="showNewOptionText",
							ng-switch-when="radio",
							type='radio',
							name="formVotes",
							ng-model="checkedRadio.option",
							ng-checked="option.checked",
							value="{{option._id}}")
	.form-group.row(ng-if="formData.addOptionOnVote && showNewOptionText")
		.col-sm-12.text-left
			textarea.form-control(ng-model="formData.newOptionText", placeholder="Enter your text here", rows="3")
			a.close.remove-item(href="javascript:void(0)", ng-click="toggleOption(false)", data-dismiss="alert") &times;
	div.row(ng-if="formData.hasAlreadyVoted")
		.col-sm-12.text-left
			chart(value='chartData',type="pie",height="400",chart-obj='chartObj')
	.row
		.col-sm-12.text-left
			.btn-group
				button(ng-if="formData.addOptionOnVote && !showNewOptionText", class="btn btn-default", ng-click='toggleOption(true)') Add Option
				button(class="btn btn-default", ng-click='vote(formData)') Vote
				button(class="btn btn-default", ng-click='goBack()') Back